<h1>Enter you message.</h1>

<form action="/new" method="POST">
	<div class="form-group">
		<textarea name="content" class="form-control" rows="6" placeholder="Enter you message:"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Semd</button>
</form>